<div class="row">
  <div class="small-6-centered columns">

    <% if current_user.zip_code.nil? %>
      <h3>Enter your Zip Code for the weather</h3>
      <form class="weather_form" action="/" method="post">
        <input type="text" name="zip_code" id="zip_code">
        <input type="submit" name="submit" id="submit">
      </form>

    <% else %>
      <div id="the_weather" class="small-8 medium-8 large-5 small-centered large-push-7 columns offset">
        <p><%= get_weather['name'] %>
        <img src="http://openweathermap.org/img/w/<%= weather_icon %>.png">
        <%= degrees_in_fahrenheit.ceil %>°F<br>
        Today there will be <%= get_weather['weather'][0]['description'] %>!</p>
      </div>
    <% end %>

  </div>
  <div class="small-12 centered-columns text-center">
    <div class="greeting">
      <h1><%= greeting %></h1>
    </div>
  </div>
</div>
